/* Webfont: MontblancType-Bold */@font-face {
    font-family: 'MontblancType';
    src: url('MontblancType-Bold.eot'); /* IE9 Compat Modes */
    src: url('MontblancType-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('MontblancType-Bold.woff') format('woff'), /* Modern Browsers */
         url('MontblancType-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
         url('MontblancType-Bold.svg#MontblancType-Bold') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

