/* Webfont: MontblancType-Italic */@font-face {
    font-family: 'MontblancType';
    src: url('MontblancType-Italic.eot'); /* IE9 Compat Modes */
    src: url('MontblancType-Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('MontblancType-Italic.woff') format('woff'), /* Modern Browsers */
         url('MontblancType-Italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('MontblancType-Italic.svg#MontblancType-Italic') format('svg'); /* Legacy iOS */
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

