body { 
    background: url(bg-monitor2.png) no-repeat center top fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  
  ul {
    width: 600px;
    height: 300px;
    margin: 0 auto;
    position: relative;
    list-style: none;
    -webkit-perspective: 700;
    perspective: 700;
  }
  
  li {
    position: absolute;  
    transform-origin: 0 100%;
  }
  li.current {
    transition: all 0.3s ease-out;
    opacity: 1.0;
  }
  li.in {
    opacity: 0.0;
    transform: rotate3d(1, 0, 0, -90deg);
  }
  li.out {
    transition: all 0.3s ease-out;
    opacity: 0.0;
    transform: rotate3d(1, 0, 0, 90deg);
  }

  #again{
      font-size: 2.4em;
  }

  img.logo{
      width: 280px !important;
      height: auto;
  }

  ul li img{
      width: 480px;
  }